.post-input {
    border: none;
    background-color: white;
    height: 40px;
    box-shadow: unset;
    padding-left: 0px;
    box-shadow: unset;
}
.postText {
    padding: 10px;
}
.profile-pic {
    border-radius: 50%;
}
.close {
    padding: 5px;
}
.add-post {
    background-color:#f6f7f9;
    border: .3px  black;
    height:30px;
   padding-top:5px;
}
.glyphicon {
    padding-left: 5px;
    padding-right: 5px;
}
.close {
    padding: 5px;
}
.btn-post-cancel {
    margin: 5px;
}
.modal-header .close {
    margin-top: -5px;
}
@media (min-width: 768px)
{
    .modal-sm {
        width:500px;
    }
}