
<div class="container">
  <div class="navigator">
    <button class="btn btn-primary navigation-btn login-btn"><a routerLink="/login" routerLinkActive="active">Login</a></button>
    <button class="btn btn-primary navigation-btn signup-btn"><a routerLink="/signup" routerLinkActive="active">Signup</a></button>
  </div>
  </div>
  <router-outlet></router-outlet>