.navigator {
    margin-top: 50px;
    margin-left: 20px;
    box-shadow: 10px 10px 5px #888888;
    width: 40%;
    }
    .navigation-btn {
        padding: 10px;
        width:226px;
        background-color: beige;
        border: none;
        
    }
    .login-btn {
        border-top-left-radius: 10px;
    }
    .signup-btn {
    border-top-right-radius: 10px;
    border-left: 5px solid black;
    }
    .navigation-btn a {
    color: black;
    font-size: 20px;
    font-family: cursive;
    text-decoration: none;
    
    }
    .navigation-btn a :active :hover {
    color:darkseagreen;    
    }
    .navigation-btn :active :hover {
        background-color: white;
    }