.calculator {
	background-color:#d2e9f2;
  position:absolute;
  color:#fff;
  top:0;
  left:0;
  padding:15px;
  border:2px solid #77797c;
  border-radius:5px;
}
.no-margin {
	margin-left:0px;
	margin-right:0px;
}
.col-padding {
	padding-left:3px;
	padding-right:3px;
	padding-top:3px;
	padding-bottom:3px;
}
.calc-button {
	padding-left:10px;
	padding-right:10px;
	width:40px;
	height:30px;
	color:black;
	background-color:#dce8ed;
	font-size:18px;
	width:100%;
	border:1px solid #adb6ba;
	border-radius:5px;
	transition: background-color 2s;
}
.calc-button:hover {
	background-color:#ed9442;
}
.calc {
	height:40px;
	border-radius:5px;
	margin-bottom:10px;
	padding-left:10px;
	color:black;
	
}