
<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<div class="container">
    
      <div class="login-block">
          <h4 class="text-center login-heading">Login</h4>
          <form  #loginForm="ngForm" (ngSubmit)="onLogin(loginForm.value)">
         
          <div class="form-group">
            <label >User name</label>
            <input type="email" class="form-control"name="email" ngModel autofocus>
          </div>
          <div class="form-group">
            <label >Password</label>
            <input type="password" class="form-control" name="password" ngModel>
          </div>
          <div class="form-group login-group" >
            <button type="submit" class="btn btn-primary">Login</button>
          </div>
          <div class="form-group login-group" >
          <a class="signup-link"href="#">Have no acount? Sign Up Here</a>
        </div>
        </form>
      </div>
    </div>
    