.header-style
{
    height:110px;
    background-color:#3b5998;
}
.logo-style
{
    color: white;
    font-size: 40px;
    font-weight: 700;
    margin: 18px 60px;
}
.login-component-style
{
    margin-top: 12px;
    float: right;
    margin-right: 30px;
}
.logo-message
{
    color: #0e385f;
    font-size: 20px;
    font-weight: bold;
    line-height: 29px;
    width: 450px;
    word-spacing: -1px;
    margin: 40px auto;
}
.facebook-logo-holder
{
    width: 57%;
    float: left;
}
.facebook-logo
{
    margin-top: 30px;
}
.login-holder
{
    margin-top: 30px;
    margin-left: 20px;
    float: left;
    width: 40%;
}