<!-- login Component -->
<div> 
  <div id="login_page_header" class="header-style">
          <app-login class="login-component-style"></app-login>
      <label class="logo-style">facebook</label>    
  </div>

  <div id="main">
      <div id="facebook-logo" class="facebook-logo-holder">
          <div class="logo-message">Facebook helps you connect and share with the people in your life.</div>
          <img src="./assets/logo.ico" class="facebook-logo" alt="">
      </div>
      <!-- Signup Component -->
      <div id="signup-content" class="login-holder">
          <app-signup></app-signup>
      </div>
  </div>
</div>