.posts {
    background-color: white;
     box-shadow: 10px 10px 5px #888888;
     
     width: 40%;
     margin: auto;
     
}
.post-data {
    border: 1px solid lightgrey;
    border-radius: 5px;
}
.add-post {
    background-color:#f6f7f9;
    border: .3px  black;
    height:30px;
   
}

.image-data,.text-data {
    padding: 7px;
    font-size: 13px;
    font-weight: 800;
    cursor: pointer;
}
.glyphicon {
    padding-left: 5px;
    padding-right: 5px;
}
.post-input {
    border: none;
    background-color: white;
    height: 40px;
    box-shadow: unset;
    padding-left: 0px;
}
.profile-pic {
    border-radius: 50%;
    padding-left: 5px;
    padding-right: 5px;
}
.post-input :focus {
    border: none;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}
.post {
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius:5px;
}
.post-heading {
    color: darkslateblue;
    font-family: cursive;
    font-size: 20px;
    padding: 7px;
}
.post-text {
    padding-left: 10px;
    padding-right: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.post-image-video {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid lightgray;
    text-align: center;
    
}
.post-image {
    max-width: 100%;
}
.likeComment {
    font-size: 20px;
    color: #888888;
}
.like{
    margin: 5px;
}
.comment {
    margin: 5px;
}
.count-like-comments {
    font-family: sans-serif;
    font-size: 12px;
    float: right;
    padding-right: 20px;
    padding-top: 10px;
}
