<app-fb-header></app-fb-header>
<div class="container-fluid">
  <div class="posts">
    <div class="post-data">
      <div class="row add-post">
        <!-- open modal for Text Upload -->
        <div class=" col-sm-3 text-data" (click)="popupModal.show()"><span class="glyphicon glyphicon-pencil" ></span>Make a post</div>
        <app-modal-dialog #popupModal></app-modal-dialog>
        <!-- open modal for Image and text Upload -->
        <div class="col-sm-3 image-data" (click)="imageUploadModal.show()"><span class="glyphicon glyphicon-picture"></span>Photo/Video</div>
        <app-modal-image-upload #imageUploadModal  (imageUrl1)="ImageUrl($event)" ></app-modal-image-upload>
      </div>
      <div class="row ">
          <div class="col-sm-12 input-group">
            <!-- input type to upload Image and text -->
              <span class="input-group-addon post-input" ><img src="./assets/logo1.jpg" class="profile-pic" alt="fb"></span>
              <input #postInputTag type="text" class="form-control post-input input-style"  (click)="imageUploadModal.show()" placeholder="Hello {{userName}}, What's in your mind... " aria-describedby="basic-addon1">
              <app-modal-image-upload #imageUploadModal  (imageUrl1)="ImageUrl($event)" ></app-modal-image-upload>
            </div>
      </div>
    </div>
    <!-- Post component to display the all posts from local storage -->
      <app-post></app-post>
  </div>

</div>