<div class="container welcome-container">
  <div class="welcome-tag">
    <h2>Welcome {{userFirstName}}</h2>
  </div>
  <div class="userData">
    <div class="userName">
      <label>First Name: </label> {{userFirstName}}
    </div>
    <div class="userName">
        <label>Last Name: </label> {{userLastName}}
    </div>
    <div class="userEmail">
          <label>Email Id: </label> {{userEmail}}
    </div>
    <button type="submit" class="btn btn-primary" (click)="logout()">Logout</button>
  </div>
</div>
