.navigator {
    display: none;
}
.userData {
    padding: 20px;
    font-size: 16px;
    
}
.welcome-tag {
    font-family: cursive;
    color: blueviolet;
}
.welcome-container {
    background-color: beige;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 50px;
    box-shadow: 10px 10px 5px #888888;
    width: fit-content;
}