.google-keep-heading {
	padding:20px;
	background-color:yellow;
	font-size:20px;
	border: 2px Solid black;
}
body {
	background-color: #dee4ed;
}
.home {
	text-decoration:none;
	color:black;
}
a:hover {
	text-decoration:none;
}
.input-box {
	padding:10px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	background:none;
	margin-top:20px;	
}
.input-field {
	width:40%;
	margin:auto;
	background-color:white;
	margin-top:20px;
}
.take-a-note {
	
	padding-left:10px;
}
.my-input-group {
	border:none;
	background:white;
	display:hidden;
}
.no-margin {
	margin-left:0px;
	margin-right:0px;
}
.input-text { 
	border: 0px solid white;
	border-radius:0px;
	margin-bottom:6px;
}
.display-block {
	display:block;
}
.done-button {
	padding-top:0px;
	padding-bottom:0px;
	background-color:white;
}
.before-click {
	display:none;
}
.my-container {
	width:70%;
	margin:auto;
}
.upload-button {
	background-color:white;
	border:none;
	cursor:pointer;
}
 .thumb {
    width:100%;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
 }
.input-file-upload {
	width:25px;
	height:20px;
	opacity:0;	
}
.glyphicon-file-chooser {
	position:absolute;
}
.input-file-upload-direct {
	top:15px;
	right:20px;
}
.tiles-div {
}
.not-working {
	opacity:0.1;
}
.background-google {
	background-color:#fb0;
	padding-top:10px;
	padding-bottom:10px;
}
.search-button {
	padding:9px;
	border-color:white;
}
.flex-box {
	display:flex;
	align-items:center;
	
}
.display-flex {
	display:flex;
}
.height-45 {
	height:45px;
}
.border-white {
	border-color:white;
}
.glyphicons {
	font-size:20px;
	padding-left:10px;
	padding-right:10px;
	color:black;
}
.menu-button {
	background:transparent;
	border:none;
	padding-left:20px;
	padding-right:20px;
	font-size:20px;
}
.side-bar{
	position: absolute;
    height:300px;
    background: #dee4ed;
    left: 0px;
    top: 65px;
	display:block;
	width:150px;
	transition:width 1s;
}

.un-list {
	padding-top:20px;
	padding-left:10px;
}
.my-list {
	padding-top: 10px;
    padding-bottom: 10px;
    font-size:15px;
    list-style-type: none;
}
.my-list a {
	color:black;
}
.glyphicons-tool {
	padding-left:10px;
	padding-right:10px;
	font-size:14px;
}
.toolbar {
	display:table;
	position:absolute;
	bottom:4px;
	opacity:0;
	transition: visibility 0s, opacity 0.2s linear, bottom .3s, background-color 0s;
}
.toolbar:hover {
	visibility: visible;
	opacity: 1;
	bottom:5px;
	background-color:#e8eaed;
	padding-top:8px;
	padding-bottom:8px;
	
}
.trash {
	width:40%;
	margin:auto;
}

.grid-item {
	 text-align:center;
	 font-weight:bold;
	 font-size:20px;
	 padding-top:15px;
	 box-shadow:0 4px 8px 0;
	 display:inline-block;
	 padding-top:20px;
	 padding-bottom:20px;
	 padding-left:10px;
	 padding-right:10px;
	 margin-top:20px;
	 margin-right:10px;
	 margin-left:10px;
	 margin-bottom:10px;
	 background-color:white;
	 position:relative;
 
}
.grid {
  margin:auto;
  width:70%;
  padding-top:20px;
  padding-bottom:20px;
  column-count:4;
}
@media only screen and (max-width: 1068px) {
.grid {
	column-count:3;
}
.side-bar{ 
	width:200px;
	display:none;
	z-index:10;
	height:200px;
	background-color:white;
}
}
@media only screen and (max-width: 768px) {
.grid {
	column-count:2;
}
.side-bar{ 
	width:200px;
	display:none;
	z-index:10;
	height:200px;
	background-color:white;
}
}
@media only screen and (max-width: 400px) {
.grid {
	column-count:0;
}
.side-bar{ 
	width:200px;
	display:none;
	z-index:10;
	height:200px;
	background-color:white;
}
.grid-item {
	width:100%;
	max-width:none;
}
