<div>
  <h1 style="font-weight: 700;">Create an account</h1>
  <br/>
  <h4 style="font-weight: 600;">It's free and always will be.</h4>
  <br/>
  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)" novalidate>
      <div class="form-group">
          <input type="text" class="text-field-style" name="first_name" id="first_name" placeholder="First Name" #fnameRef="ngModel" ngModel autofocus required minlength="4">
           <!--error div first Name-->
           <div *ngIf="fnameRef.errors && (fnameRef.dirty||fnameRef.touched)" >
              <span  [hidden]="!fnameRef.errors.minlength"  class="error">please enter atleast 4 characters</span>       
          </div>
          <span class="error"></span>

          <input type="text" class="text-field-style" name="last_name" id="surname" placeholder="Last Name" #lnameRef="ngModel" ngModel required minlength="4">
          <!--error div Last Name-->
          <div *ngIf="lnameRef.errors && (lnameRef.dirty||lnameRef.touched)" >
              <span  [hidden]="!lnameRef.errors.minlength"  class="error">please enter atleast 4 characters</span>       
          </div>
          <span class="error"></span>
        </div>
      <div class="form-group">
          <input type="email" class="text-field-style mobile" id="login_credentials"name="email" placeholder="Kmoshahrukh@gmail.com"  #emailRef="ngModel" ngModel required pattern="^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$">
          <!--error div Email Validation-->
          <div *ngIf="emailRef.errors && (emailRef.dirty||emailRef.touched)" >
              <span  [hidden]="!emailRef.errors.pattern"  class="error">please valid email</span>  
              </div>
          <span class="error">{{RegisterEmailError}}</span> 
        </div>
      <div class="form-group">
          <input type="password" class="text-field-style" name="password" id="password" placeholder="New Password" #passwordRef="ngModel" ngModel required minlength="6">
          <!--error div password Validation-->
          <div *ngIf="passwordRef.errors && (passwordRef.dirty||passwordRef.touched)" >
              <span  [hidden]="!passwordRef.errors.minlength"  class="error">please pasword length must be 6</span> 
          </div>
        </div>
      <div class="form-group birthaday-lable-style">Birthday</div>
      <div><input type="date" name="birth_date" id="birth_date"#birthrefRef="ngModel" ngModel></div>
  
      <div class="terms-message-style form-group">
              By clicking Create an account, you agree to our Terms and confirm that you have read our Data Policy, including our Cookie Use Policy. You may receive SMS message notifications from Facebook and can opt out at any time.
      </div>
      <br/>
      <div class="form-group">
          <button type="submit" [disabled]="!userForm.form.valid"class="create_button_style" >Create an account</button>
      </div>
  </form>
</div>