.row {
    margin-left: 0px;
    margin-right: 0px;
}
.post {
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius:5px;
}
.post-heading {
    color: darkslateblue;
    font-family: cursive;
    font-size: 20px;
    padding: 7px;
}
.post-text {
    padding-left: 10px;
    padding-right: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.post-image-video {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid lightgray;
    text-align: center;
    
}
.post-image {
    max-width: 100%;
}
.likeComment {
    font-size: 20px;
    color: #888888;
    border-bottom:1px solid lightgray;
    margin-bottom: 5px;
}
.like {
    margin: 5px;
    cursor: pointer;
}
.comment {
    margin: 5px;
    cursor: pointer;
}
.count-like-comments {
    font-family: sans-serif;
    font-size: 12px;
    float: right;
    padding-right: 20px;
    padding-top: 10px;
}
.post-input {
    border: none;
    background-color: white;
    height: 40px;
    box-shadow: unset;
    padding-left: 0px;
    padding-right: 0px;
    box-shadow: unset;
}
.postText {
    padding: 10px;
}
.profile-pic {
    border-radius: 50%;
    margin-right: 10px;
}
label {
    font-weight: 100;
}
.commenter-pic {
    padding-left: 10px;
}
.commenter-name {
    padding-left: 8px;
    font-family: cursive;
    color: #365899;
    font-size: 14px;
}
.comment-text {
    margin-left: 50px;
}
.like-class {
    color:cornflowerblue;
}
.unlike-class {
    color: gainsboro;
}
.date-font {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    
}