<div class="posts"  *ngFor="let post of  postDataList">
  <div class="row post" id={{post.PostIndex}}>
    <div class="row post-heading"><span><img src={{post.profileURL}} class="profile-pic" alt="fb"></span><label>{{post.userName}}</label><span class="pull-right date-font">{{getTime(post.date)}}</span></div>
    <div class="row post-text">{{post.postText}}</div>
    <div class="row post-image-video">
      <img class="post-image" src={{post.imageUrl}}>
    </div>
    <div class="row likeComment">
      <span class="like glyphicon glyphicon-thumbs-up" #like [style.color]="check(post.PostIndex)? 'blue' : '#888888'" (click)="likeDislike(post.PostIndex)"></span>
      <span class="comment glyphicon glyphicon-comment" (click)="changeShowHide()"></span>
      <span  class="count-like-comments">{{post.Comments.length}} Comments</span>
      <span class="count-like-comments" >{{post.noOfLikes}} likes</span>      
    </div>
<div class="posts" [style.display]="showHide() ? 'none' : 'block' ">
    <div class="comments"  >
      <div class="row" class="show-comments" *ngFor="let Comment of post.Comments" #commentBox >
          <span class="commenter-pic"><img src={{Comment.profileUrl}}  class="profile-pic" alt="fb"></span>
          <label class="commenter-name">{{Comment.commenterName}}</label>
          <div class="comment-text">{{Comment.comment}}</div>
        </div>
        <div class="row">
            <div class="col-sm-12 input-group postText">
                <span class="input-group-addon post-input" ><img src="./assets/logo1.jpg" class="profile-pic" alt="fb"></span>
                <input type="text" class="form-control post-input input-style" #commentText (keyup.enter)="comment(commentText.value,post.PostIndex )"placeholder ="Write a comment" aria-describedby="basic-addon1"> 
            </div> 
        </div>
    </div>
  </div>
</div>