
#container {
  width: 400px;
 /* height: 200px; */
  background-color:#bc0915;
  overflow: auto;
  margin: 70px auto;
  border-radius: 13px;
  box-shadow: 0 10px 8px -8px #333;
}

#audio-image {
  position: relative;
  overflow: hidden;
  height: 150px;
  margin:2px;
  border-radius:15px;
  border: 5px solid white;
  margin-bottom: 15px;
  
}
#player {
	text-align:center;
	font-family:fantacy;
	font-size:30px;
	color:white;
}

#audio-image .cover { 
	width: 100%; 
}

#audio-info {
	text-align: center;
	color:white;
}

#audio-info .artist {
	font-weight: bold;
}

input#volume {
  width: 95%;
  margin-left: 2%;
  -webkit-appearance: none !important;
  background: #ccc;
  height: 1px;
  margin-bottom: 20px;
}
input#volume::-webkit-slider-thumb {
 -webkit-appearance:none !important;
 background:url(../images/knob.png) no-repeat;
 height:12px;
 width:12px;
}

#progress-bar {
  width: 70%;
  margin:auto;
  margin-top: 9px;
  height: 10px;
  background: url(../images/progress_bg.png) no-repeat;
}

#progress {
  background: url(../images/progress.png) no-repeat;
  height: 15px;
  display: inline-block;
}

#duration {
  position: absolute;
  left:40px;
  color:white;
}
#totalDuration {
  position: absolute;
  right:50px;
  color:white;
}
#playlist {
	list-style: none; 
	margin-top:30px;
	color:white;
}

#playlist li {
  cursor: pointer;
  margin: 5px;
}

#playlist li.active {
  font-weight: bold;
  padding: 3px;
  background: #666;
}
.music-player {
	height:100px;
	width:600px;
	margin: auto;
	background:#bc0915;
	margin-top:200px;
	border: 5px solid gray;
	border-radius:10px;
}
.playback {
	font-size:24px;
	/* margin-top:20px; */
	text-align:center;
	color:white;
}
.not-working {
	display:none;
}
.control-button {
	padding-left:15px;
	padding-right:15px;
	background:transparent;
	border:none;
}
.time-bar {
	position:relative;
}