.float-left
{    margin-left: 10px;
    float: left;
}
.label-style
{
    color: white;
}
.login-button-style
{
    color:white;
    border-color:#9cb4d8;
    background-color: #4689EE;
}
.login-button-style :hover
{
    background-color: #3b5998;
}
.logo-message
{
    color: #0e385f;
    
    font-weight: bold;
}
.div-login {
    margin-top: 25px;
}
.flex {
    display: flex;
}
.flexContent {
    align-items: baseline;
}
label {
    color: white;
}