<div>
<form #loginForm="ngForm"  (ngSubmit)="onLogin(loginForm.value)" >
     <div class="form-group float-left">
       <label>User Name</label>
       <input type="email" class="form-control"name="email" ngModel autofocus>
     </div>
     <div class="form-group float-left">
       <label >Password</label>
       <input type="password" class="form-control" name="password" ngModel>
     </div>
     <div class="form-group login-group float-left div-login" >
       <button type="submit" class="btn btn-primary">Login</button>
     </div>
    
   </form>
   </div>