.navbar-header {
    margin-left: 100px;
    font-family: cursive;
    font-size: 18px;
}
.navbar {
    background-color: #043e9b;
}
.navbar-form {
    margin-left:50px;
}
.navbar-brand {
    color: white;
    font-family: fantasy;
}
.search-box {
    width: 300px;
    height: 30px;
}
.search-glyph {
    height: 30px;
}
.btn-logout {
    margin-right: 100px;
    margin-top: 8px;
    background-color: forestgreen;
}
.user-profile {
    padding: 4px;
    margin-top: 5px;
    color: white;
    font-family: cursive;
}
.profile-pic {
    border-radius: 50%;
} 