<div class="fluid-container">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">facebook</a>
      </div>
      <form class="navbar-form navbar-left">
        <div class="input-group">
          <input type="text" class="form-control serach-box" placeholder="Search" disabled>
          <div class="input-group-btn">
            <button class="btn btn-default search-button" type="submit" disabled>
              <i class="glyphicon glyphicon-search seach-glyph"></i>
            </button>
          </div>
        </div>
      </form>
      <div class="nav navbar-nav user-profile">
          <!-- profile Picture and Name of User -->
          <span class="commenter-pic"><img src={{profileUrl}}  class="profile-pic" alt="fb"></span>
          <label class="commenter-name">{{userName}}</label>
      </div>
      <div class=" pull-right">
        <button class="btn btn-primary btn-logout" (click)="logOut()">LogOut</button>
      </div>
    </div>
  </nav>
</div>