.login-block{
    width: 40%;
    margin-left: 20px;
    box-shadow: 10px 10px 5px #888888;
    background-color: beige;
    padding: 20px;
    margin-bottom: 20px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}
.login-heading {
    font-family: cursive;
}
label,input,button {
    font-family: cursive;
}
.signup-link {
    text-decoration-style: none;
    padding-left: 20px;
}
.login-group {
margin-top: 10px;
text-align: center
}
input.ng-invalid {
    border-left: 5px solid red;
    }
input.ng-valid {
    border-left: 5px solid green;
    }
.error {        
    color: red;
    font-size: 15px;
}