<app-header></app-header>
<div class="container">
  
    <div class="login-block">
        <h4 class="text-center login-heading">Signup</h4>
        <form  #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)" novalidate>
        <div ngModelGroup="Name">
          <div class="form-group">
              <label >First Name</label>
              <input type="text" class="form-control" name="fname" #fnameRef="ngModel" ngModel autofocus required minlength="4">
                  <!--error div-->
                  <div *ngIf="fnameRef.errors && (fnameRef.dirty||fnameRef.touched)" >
                      <span  [hidden]="!fnameRef.errors.minlength"  class="error">please enter atleast 4 characters</span>       
                  </div>
                  <span class="error"></span>
            </div>
            <div class="form-group">
              <label >Last Name</label>
              <input type="text" class="form-control"name="lname" #lnameRef="ngModel" ngModel required minlength="4">
                  <!--error div-->
                  <div *ngIf="lnameRef.errors && (lnameRef.dirty||lnameRef.touched)" >
                      <span  [hidden]="!lnameRef.errors.minlength"  class="error">please enter atleast 4 characters</span>       
                  </div>
                  <span class="error"></span>
            </div> 
        </div>
        <div class="form-group">
          <label >Email</label>
          <input type="email" class="form-control" name="email" #emailRef="ngModel" ngModel required pattern="^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$">
          <!--error div-->
          <div *ngIf="emailRef.errors && (emailRef.dirty||emailRef.touched)" >
              <span  [hidden]="!emailRef.errors.pattern"  class="error">please valid email</span>  
              </div>
          <span class="error">{{RegisterEmailError}}</span> 
        </div>
        <div class="form-group">
          <label >Password</label>
          <input type="password" class="form-control" name="password" #passwordRef="ngModel" ngModel required minlength="6" >
               <!--error div-->
               <div *ngIf="passwordRef.errors && (passwordRef.dirty||passwordRef.touched)" >
                   <span  [hidden]="!passwordRef.errors.minlength"  class="error">please pasword length must be 6</span> 
               </div>
        </div>
        <button type="submit" [disabled]="!userForm.form.valid"class="btn btn-primary" >Submit</button>
      </form>
    </div>
  </div>