<div bsModal #popupModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
            <div class="post-data">
                <div class="row add-post">
                  <div class=" col-sm-3 text-data" ><span class="glyphicon glyphicon-pencil" ></span>Make a post</div>
                  <div class="col-sm-3 image-data"><span class="glyphicon glyphicon-picture"></span>Photo/Video</div>
                  <div class="col-sm-6">
                      <button type="button" class="close pull-right" aria-label="Close" (click)="hide()">
                          <span aria-hidden="true">&times;</span>
                        </button>
                  </div>
                </div>
                
              </div>
        </div>
        <div class="modal-body">
          <div class="row">
                    <div class="col-sm-12 input-group">
                        <span class="input-group-addon post-input" ><img src="./assets/logo1.jpg" class="profile-pic" alt="fb"></span>
                        <input type="text" class="form-control post-input input-style" #inputText  placeholder="Tell us something about yourself" autofocus aria-describedby="basic-addon1"> 
                      </div>
                </div>
        </div>
  
        <div class="modal-footer">
          <div class="pull-right">
            <button class="btn btn-primary" (click)="postData(inputText.value)"> Post </button>
          </div>
        </div>
      </div>
    </div>
  </div>