.add-post {
    background-color:#f6f7f9;
    border: .3px  black;
    height:30px;
   
}
.image-data,.text-data {
    padding: 7px;
    font-size: 13px;
    font-weight: 800;
}
.glyphicon {
    padding-left: 5px;
    padding-right: 5px;
}
.close {
    padding: 5px;
}
.post-input {
    border: none;
    background-color: white;
    height: 40px;
    box-shadow: unset;
    padding-left: 5px;
    padding-right: 5px;
}
.profile-pic {
    border-radius: 50%;
}

.post-input {
    box-shadow: unset;
}
@media (min-width: 768px)
{
    .modal-sm {
        width:500px;
    }
}
